<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--@author 杨金刚-->
<!--@date 2020/8/9 9:22-->
<mapper namespace="com.its.demo.dao.DeptMapper">

    <resultMap id="DeptVOResultMap" type="com.its.demo.domain.DeptVO">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="dept" column="dept" jdbcType="VARCHAR"/>
        <result property="parentDeptId" column="parent_dept_id" jdbcType="BIGINT"/>
        <result property="parentDept" column="parent_dept" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getDeptVOById" resultMap="DeptVOResultMap">
        SELECT id, dept, parent_dept_id, parent_dept, gmt_create, gmt_modified
        FROM v_sys_dept
        WHERE id = #{id}
    </select>

</mapper>